* {
  padding: 0px;
  margin: 0px;
}


body {
  background-image: url("../images/background2.jpg") !important;
  background-size:auto;
}

.container {
  width: 900px;
}

.grid8 .col-md-1 { width: 72px;}
.col-md-1 {
  /*border: 1px solid black;*/
  padding: 0;
  text-align: left;
  min-height: 400px;

}

.row {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  min-height: 400px;
}

.col-sm-2 {
  border: 3px solid rgb(199, 196, 161);
  border-radius: 10px;
  margin-top: 30px;
  min-height: 560px !important;
  max-height: 560px;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 28px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(236, 235, 212, 0.9);
  text-align: center;
  padding-top: 20px;
}

.gameboard {
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 25px;
  height: 370px;
  margin: 15px auto;
  width: 610px;
  border: 3px solid rgb(199, 196, 161);
  border-radius: 30px;
  background-color: rgba(236, 235, 212,0.5);
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 28px 0 rgba(0, 0, 0, 0.19);
}

.cell {
  min-width: 56px;
  min-height: 56px;
  background-size: contain;
  box-sizing: border-box;
  float: left;
  text-align: center;
}

.gems {
  min-height: 56px;
  max-height: 56px;
}

.header {
  position: relative;
  text-align: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  font-size: 50px;
  width: 605px;
  border: 3px solid rgb(125, 108, 37);
  border-radius: 10px;
  background-color: rgba(164, 129, 60,0.4);
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 28px 0 rgba(0, 0, 0, 0.19);
  text-shadow: 4px 4px 6px gray;
  letter-spacing: 5px;
}

.scoreboard {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  border-bottom: 1px solid gray;
}

.score {
  font-size: 28px;
  font-weight: 200;
  color: gray;
  letter-spacing: 4px;
}

.timerboard {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  border-bottom: 1px solid gray;
}

.timer {
  font-size: 28px;
  font-weight: 200;
  color: gray;
  letter-spacing: 4px;
}

.timer_description {
  font-size: 18px;
  font-weight: 300;
  color: black;
  letter-spacing: 2px;
}

.hintsboard {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  border-bottom: 1px solid gray;
}

.hints {
  font-size: 16px;
  font-weight: 300;
  color: gray;
  letter-spacing: 0px;
  line-height: 26px;
}

.img_hint {
  max-height: 60px;
  border-bottom: 1px solid gray;
}

.btn {
  height: 75px;
  width: 75px;
  border-radius: 50% !important;
  box-shadow: 6px 6px 15px gray;
}
